/*------------------------------------*\
    $MAIN CSS
\*------------------------------------*/

@import "lib/normalize.styl"
@import "lib/mixins.styl"

/**
 * Vars
 */
$brand-color = #348AC7

*, *:before, *:after
  box-sizing border-box

html, body
  height 100%

body
  min-height 100%
  background-color #348AC7
  background -webkit-linear-gradient(90deg, #7474BF 10%, #348AC7 90%)
  background    -moz-linear-gradient(90deg, #7474BF 10%, #348AC7 90%)
  background     -ms-linear-gradient(90deg, #7474BF 10%, #348AC7 90%)
  background      -o-linear-gradient(90deg, #7474BF 10%, #348AC7 90%)
  background         linear-gradient(90deg, #7474BF 10%, #348AC7 90%)
  font-family "Roboto", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, arial, sans-serif        

.wrapper
  white-space nowrap
  display inline-block
  position absolute
  top 50%
  left 50%
  min-width 500px
  transform translate(-50%, -50%)

.site-title
  color #fff
  font-weight 200
  text-align center

.domain
  background-color #fff
  border-radius 6px
  padding .5em
  display table
  width 100%

.domain__item
  display table-cell

.domain-name
  color #333

.domain-price
  text-align right
  color #aaa
  line-height 2em
  font-weight 300

.domain-offer
  text-align right
  width 30%

  &__btn
    appearance none
    background-color: #3774ff;
    background -webkit-linear-gradient(#5588fd, #3774ff)
    background    -moz-linear-gradient(#5588fd, #3774ff)
    background     -ms-linear-gradient(#5588fd, #3774ff)
    background      -o-linear-gradient(#5588fd, #3774ff)
    background         linear-gradient(#5588fd, #3774ff)
    border none
    color #fff
    height 2.5em
    font-weight 300
    padding 0em 1.5em
    border-radius 4px
    font-size 14px
    outline none

    &:hover
      background -webkit-linear-gradient(#3774ff, #5588fd)
      background    -moz-linear-gradient(#3774ff, #5588fd)
      background     -ms-linear-gradient(#3774ff, #5588fd)
      background      -o-linear-gradient(#3774ff, #5588fd)
      background         linear-gradient(#3774ff, #5588fd)

.disclaimer
  color #fff
  text-align center
  display block
  font-weight 300
  padding-top 1em




/**
 * Contact form
 */
.overlay, .make-offer
  opacity 0
  transition .4s

.overlay
  position absolute
  overflow hidden
  top 0
  right 0
  bottom 0
  left 0
  background rgba(26,53,71,.85)
  pointer-events none
  z-index 10

  &.open 
    opacity 1
    pointer-events auto


.make-offer 
  position relative
  width 590px
  margin 100px auto 0
  padding 25px 0
  border-radius 5px
  box-shadow 0 5px 12px rgba(15,27,39,.4)
  background #fff
  -webkit-transform translateY(80%) scale(.8)
  transform translateY(80%) scale(.8)
  transition-timing-function cubic-bezier(.3, 0, 0, 1.3)
  transition-delay .3s

  .open &
    opacity 1
    transform none

  &.close
    display block

.close-btn
  appearance none
  border 1px solid #CFCFCF
  background transparent url('cross.svg') center center no-repeat
  width 2em
  height 2em
  background-size 100%
  border-radius 50%
  position absolute
  top 1em
  right 1em
  outline none

  &:hover
    background-color #f9f9f9

  &:active
    top 1.1em

.form-title
  font-weight 300
  font-size 2em
  margin 0
  margin-bottom .7em
  padding 0em .7em
  color #222
  line-height 1

.offer-form
  display block
  width 100%
  clearfix()

.offer-form__item
  display block
  width 100%
  border-top 1px solid #DDE1E5
  clearfix()

  &:last-of-type
    border-bottom 1px solid #DDE1E5
    margin-bottom 1.7em

.form-label, .form-input
  display block
  width 50%
  float left

.form-label
  text-align right
  padding-right 1em
  font-size 1em
  font-weight 300
  color #505050
  line-height 3em
  border-right 1px solid #DDE1E5

.form-input 
  position relative

  input
    border none
    background-color #F2F4F5
    width 100%
    height 3em
    padding 0em 1em
    color #222
    outline none

    &:focus
      background-color #E6EAEC

.form-input input[readonly]
  background-color #fff
  color #888

.send-offer
  appearance none
  border none
  margin-right 1.6em
  background-color: #3774ff;
  background -webkit-linear-gradient(#5588fd, #3774ff)
  background    -moz-linear-gradient(#5588fd, #3774ff)
  background     -ms-linear-gradient(#5588fd, #3774ff)
  background      -o-linear-gradient(#5588fd, #3774ff)
  background         linear-gradient(#5588fd, #3774ff)
  font-size 18px
  color #fff
  text-shadow rgba(0,0,0,0.2) 0 -1px 0
  border-radius 4px
  float right
  padding 0em 1.5em
  height 2.5em
  line-height 2.5em
  font-weight 300
  box-shadow: rgba(0,0,0,0.2) 0 1px 2px;
  outline none
  
  &:hover
    background -webkit-linear-gradient(#3774ff, #5588fd)
    background    -moz-linear-gradient(#3774ff, #5588fd)
    background     -ms-linear-gradient(#3774ff, #5588fd)
    background      -o-linear-gradient(#3774ff, #5588fd)
    background         linear-gradient(#3774ff, #5588fd)

  &:disabled
    opacity .5

    &:hover
      background -webkit-linear-gradient(#5588fd, #3774ff)
      background    -moz-linear-gradient(#5588fd, #3774ff)
      background     -ms-linear-gradient(#5588fd, #3774ff)
      background      -o-linear-gradient(#5588fd, #3774ff)
      background         linear-gradient(#5588fd, #3774ff)

  &.success-send
    background-color: #6BA949;
    background -webkit-linear-gradient(#9EC549, #6BA949)
    background    -moz-linear-gradient(#9EC549, #6BA949)
    background     -ms-linear-gradient(#9EC549, #6BA949)
    background      -o-linear-gradient(#9EC549, #6BA949)
    background         linear-gradient(#9EC549, #6BA949)
    
    &:hover
      background -webkit-linear-gradient(#9EC549, #6BA949)
      background    -moz-linear-gradient(#9EC549, #6BA949)
      background     -ms-linear-gradient(#9EC549, #6BA949)
      background      -o-linear-gradient(#9EC549, #6BA949)
      background         linear-gradient(#9EC549, #6BA949)

// Validation
label.error
  position absolute
  right 105%
  top 50%
  transform translateY(-50%)
  background-color #C02932
  color #fff
  font-size 12px
  white-space nowrap
  display inline-block
  padding 1em
  border-radius 4px
  
  &:after
    content ''
    display block
    width 0
    height 0
    border 6px solid transparent
    border-left-color #C02932
    position absolute
    top 50%
    left 100%
    transform translateY(-50%)


/**
 * Owner
 */
.owner
  position absolute
  bottom 15px
  left 50%
  transform translateX(-50%)
  color #fff
  text-decoration none
  font-size 12px
  opacity .7
  transition .25s opacity

  &:before
    content "Innehavare: "

  &:hover
    opacity 1
